* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(27, 27, 27);
}

body, input, button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
}

button {
    cursor: pointer;
}

header {
    background-color: rgba(24, 24, 24, 0.493);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.menu  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 15px;
    border-radius: 50%;
}

.menu li {
    list-style: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.menu li:hover {
    background-color: rgba(43, 42, 42, 0.363);
}

.painel {
    position: fixed;
    background-color: rgb(32, 31, 31);
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.painel h1 {
    text-align: center;
    font-size: 48px;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 15px;
}

.formulario input {
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 10px;
    color: black;
}

.formulario button {
   font-size: 18px;
   padding: 9px 70px;
   border-radius: 10px;
   border: none;
   cursor: pointer;

   transition: 0.2s;
   color: black;
    margin-top: 10px;

}

.formulario button:hover {
    background-color: rgb(62, 61, 70);
    border: 1px solid rgba(255, 255, 255, 0.473);
    color: aliceblue;
}